.navbar {
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
  /* padding: 0px 5rem; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  transition: all 1s;
}
.navLinks {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 20rem;
  font-size: 1rem;
}
.navLinks a {
  /* border: 1px solid; */
  text-decoration: none;
  cursor:pointer ;
  padding: 10px 0px;
  box-sizing: border-box;
  width: fit-content;
  /* color: white; */
}
.active {
  color: #ffd639;
  border-bottom: 3px solid #ffd639;
  font-size: 1.1rem;
}
.date {
  color: white;
}
