.header {
  min-height: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.web_search_div {
  height: 2rem;
  border: 1px solid white;
  border-radius: 5px;
  min-width: 40%;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
}
.input_text {
  background-color: transparent;
  border: 0px;
  height: 40px;
  width: 90%;
  font-size: 1.2rem;
  color: white;
}
.input_text::placeholder {
  color: white;
}
.input_text:focus {
  outline: none;
}
.cities-div-web {
  position: absolute;
  width: 95%;
  /* border: 1px solid white; */
  border-radius: 7px;
  text-align: center;
  top: 50px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  animation: search 0.5s ease forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.cities-div-web p {
  width: 100%;
  margin: 0px auto;
  font-size: 1.4rem;
  padding: 5px;
  box-sizing: border-box;
}
.cities-div-web p:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 7px;
}
