<div class="details">
    <div class="box">
        <img src="../../../assets/images/01_Home/background/Group6Copy/icon_temperature_info.png"
            style="margin-top: 20px;">
        <p>Min - Max</p>
        <span>10ad-da</span>
    </div>
    <div class="box">
        <img src="../../../assets/images/01_Home/background/Group6/icon_precipitation_info.png"
            style="margin-top: 20px;">
        <p>Precipitation</p>
        <span>10ad-da</span>
    </div>
    <div class="box">
        <img src="../../../assets/images/01_Home/background/Group8/icon_humidity_info.png" style="margin-top: 20px;">
        <p>Humidity</p>
        <span>10ad-da</span>
    </div>
    <div class="box">
        <img src="../../../assets/images/01_Home/background/Group9/icon_wind_info.png" style="margin-top: 20px;">
        <p>Wind</p>
        <span>10ad-da</span>
    </div>
    <div class="box">
        <img src="../../../assets/images/01_Home/background/Group10/icon_visibility_info.png" style="margin-top: 20px;">
        <p>Visibility</p>
        <span>10ad-da</span>
    </div>



</div>